---
import { Image } from "astro:assets";
import { getCollection, getEntry, render } from "astro:content";
import Layout from "../layouts/Layout.astro";

const talk = await getEntry("talks", Astro.params.slug);

const { data } = talk;

export const getStaticPaths = async () => {
  const talks = await getCollection("talks");
  return talks
    .filter((talk) => talk.body)
    .map((talk) => ({
      params: { slug: talk.slug },
    }));
};

const { Content } = await render(talk);

function addMinutes(date, minutes) {
  return new Date(date.getTime() + minutes * 60 * 1000);
}
---

<Layout>
  <h1>{data.title}</h1>
  <div
    class={["location", data.location.toLowerCase().replaceAll(" ", "_")].join(
      " "
    )}
  >
    {data.location}
  </div>
  <div>
    {data.time}-{
      addMinutes(
        new Date(`2025-05-22T${data.time}`),
        data.duration
      ).toLocaleTimeString([], {
        hour: "2-digit",
        minute: "2-digit",
        hour12: false,
      })
    }
  </div>
  <Content />
  <div>
    {
      data.speakers.map((s) => (
        <div key={s.name}>
          <img src={s.image} alt={s.name} width={100} height={100} />
          <h2>
            {s.name} ({s.employer})
          </h2>
          <p class="bio">{s.bio}</p>
        </div>
      ))
    }
  </div>
</Layout>

<style>
  .bio {
    white-space: pre-wrap;
  }
</style>
